.multi-filters {
    max-width: 800px;
}

.multi-filters__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.625rem;
  max-height: 6.875rem;
  overflow-y: auto;
}

.multi-filters__filters button {
  background-color: #434343;
  color: var(--lighter-color);
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 129.4%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.multi-filters__filters button.active {
  background-color: #303030;
}

.multi-filters__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem 1rem;
  width: 100%;
}

.multi-filters__items .multi-filters__item {
  display: flex;
  color: var(--lighter-color);
  transition: transform 0.3s ease-in-out;
}

.multi-filters__item:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.multi-filters__items .multi-filters__item img{
  width: 4em;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 0.3125rem;
}


.multi-filters__item a {
  color: var(--lighter-color);
  text-decoration: none;
}

.multi-filters__item.big {
  position: relative;
  flex-direction: column;
  background-color: #303030;
  width: 100%;
  text-align: center;
  border-radius: 0.3125rem;
}

.multi-filters__item.big img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .multi-filters__item.big {
    width: calc(50% - 1rem);
  }
}